html, body {
    background-color: rgb(136, 28, 28);
}

.landingPageLayout {
    width: 99%;
    border: 5px solid darkblue;
    height: 750px;
    margin-left: 1%;
    margin-top: 5%
}

.colStyle {
    border: 1px solid black;
    width: 25%;
    height: 40%;
    margin-top: 2%;
    background-color: rgb(42, 86, 143);
}

p {
    font-size: larger;
}

.leftPanelItem {
    flex: 1 100px;
    text-align: center;
    border: 1px solid green;
    text-align: center;
    font-size: xx-large;
}

.landingPageContainer {
    display: flex;
    background-color: rgb(11, 51, 65);
    justify-content: space-between;
    margin-top: 5%;
    height: 750px

}

.landingPageItem:nth-of-type(1) {
    display: flex;
    flex : 1 100px;
    flex-direction: column;

}
.landingPageItem:nth-of-type(2) {
    flex: 3 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewCalendarItem {
    background-color: lightcyan;
    width: 500px;
    height: 500px;
    color: black;
    font-size: xx-large;
    text-align: center;
}

.landingPageItem {
    border: 1px solid tomato;
    margin: 10px;
    color: white;
}