.dateContainer {
    display: flex;
    background-color:rgb(136, 28, 28);
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.dateView {
    display: flex;
    height: 70vh;
    width: 80%;
    background-color:lightcoral;
    margin-top: 5%;
    flex-direction: column;
}

.workoutHeader {
    flex : 2 100px;
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    padding-top: 2%;
    width: 100%
}

.workoutDate > * {
    margin-right: 1%;
}

.workoutDate {
    
    text-align: left;
    display: flex;
    font-size: xx-large;
    color: blue;
    flex: 1 200px;
   
}
.workoutDate > button {
    height: 50px;
}
.workoutBody {
    flex: 5 500px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.workoutBody > * {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    width: 100%;
    margin-bottom: 2%;
}
.workoutBodyLocations {
    flex: 5 500px;
    flex-direction: column;
    justify-content: stretch;
    border: 1px solid black;
}
.addLocation {
    width:100px;
    background-color: darkblue;
    color: red;
    font-size: large;
    width: 10%;
    height: 100%;
}

.locationActivity {
    width: 100%;
    margin-left: 1%;
  
}
.locationActivity > * {
    margin-right: 1%;
    background-color: darkblue;
    color: red;
    height: 50px;
}
.locationBody {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.locationBlocks {
    height: 100%;
    text-align: center;
    padding-top: 10%;
    background-color: darkblue;
    color: white;
    font-size: x-large;
    flex: 2 300;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    display: flex;
    flex-direction: column;
}

.locationDirection {
    flex: 1 100;
    display: flex;
    margin-top: 15%;
    justify-content: center;

}

.locationDirection > button {
    background-color: darkblue;
    color: red;
    font-size: x-large;
    height: 100px;
}
.datePicker{
    color:red;
    width: 80%;
    background-color: darkblue;
}
.locationTable{
    flex: 1 450px;
    display: flex;
    background-color: 1px solid purple;
}
.locationTable > table {
    width : 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    background-color: darkblue;
}

.locationsView {
    width: 100%;
    height: 100%;
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
    background-color: purple;
}

.filterSection > th {
    font-weight: bold;
    border: 1px solid black;
    background-color: gray;
    color: black;
    padding : 8px;
    text-align: center;
}

.locationHeaderSection >  th {
    font-weight: bold;
    border: 1px solid black;
    background-color: darkblue;
    color: white;
    padding : 8px;
    text-align: center;
}

.locationTable > table > tbody > tr > td {
    
    border: 1px solid black;
    background-color: white;
    vertical-align: top;
    padding: 5px;
}
.workoutBodyLocations{
    height: 100%;
    display: flex;
}