.dateContainer {
    display: flex;
    background-color:rgb(136, 28, 28);
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.dateView {
    display: flex;
    height: 70vh;
    width: 80%;
    background-color:lightcoral;
    margin-top: 5%;
    flex-direction: column;
}

.workoutHeader {
    flex : 2 100px;
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    padding-top: 2%;
    width: 100%
}

.workoutDate > * {
    margin-right: 1%;
}

.workoutDate {
    
    text-align: left;
    display: flex;
    font-size: xx-large;
    color: blue;
    flex: 1 200px;
   
}
.workoutDate > button {
    height: 50px;
}
.workoutBody {
    flex: 5 500px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.workoutBody > * {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    width: 100%;
    margin-bottom: 2%;
}
.workoutBodyLocations {
    flex: 5 500px;
    flex-direction: column;
    justify-content: stretch;
    border: 1px solid black;
}
.addLocation {
    width:100px;
    background-color: darkblue;
    color: red;
    font-size: large;
    width: 10%;
    height: 100%;
}

.locationActivity {
    width: 100%;
    margin-left: 1%;
  
}
.locationActivity > * {
    margin-right: 1%;
    background-color: darkblue;
    color: red;
    height: 50px;
}
.locationBody {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.locationBlocks {
    height: 100%;
    text-align: center;
    padding-top: 10%;
    background-color: darkblue;
    color: white;
    font-size: x-large;
    flex: 2 300;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    display: flex;
    flex-direction: column;
}

.locationDirection {
    flex: 1 100;
    display: flex;
    margin-top: 15%;
    justify-content: center;

}

.locationDirection > button {
    background-color: darkblue;
    color: red;
    font-size: x-large;
    height: 100px;
}
.datePicker{
    color:red;
    width: 80%;
    background-color: darkblue;
}
.locationTable{
    flex: 1 450px;
    display: flex;
    background-color: 1px solid purple;
}
.locationTable > table {
    width : 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    background-color: darkblue;
}

.locationsView {
    width: 100%;
    height: 100%;
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
    background-color: purple;
}

.filterSection > th {
    font-weight: bold;
    border: 1px solid black;
    background-color: gray;
    color: black;
    padding : 8px;
    text-align: center;
}

.locationHeaderSection >  th {
    font-weight: bold;
    border: 1px solid black;
    background-color: darkblue;
    color: white;
    padding : 4px;
    text-align: center;
}

.locationTable > table > tbody > tr > td {
    
    border: 1px solid black;
    background-color: white;
    vertical-align: top;
    padding: 5px;
}
.workoutBodyLocations{
    height: 100%;
    display: flex;
}

.tableHeaderColumn {
    width: 100%;
    display: flex;
    height: 100%;
    cursor: pointer;
}

.tableHeaderColumn > :nth-child(odd) {
    flex: 1 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.tableHeaderColumn > :nth-child(even) {
    flex: 6 900px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    
    border-top: 8px solid white;
}

/* Workout Details */
.workoutDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.workoutDetails > :nth-child(3) {
    display: flex;
    width: 100%;
    flex: 5 500;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.workoutDetails > :nth-child(2) {
    display: flex;
    width: 100%;
    flex: 1 100;
    justify-content: flex-start;
}

.workoutDetails > :nth-child(2) > button {
    background-color: darkblue;
    color: white;
    width: 20%;
    font-size: x-large;

}
.workoutDetails > :nth-child(1) {
    display: flex;
    width: 100%;
    flex: 1 100;
}
.workoutDetails > :nth-child(1) > div {
    display: flex;
    width: 100%;
    padding: 1%;
}

.workoutDetails > :nth-child(1) > div > label {
    color: darkblue;
    font-size: xx-large;
    width: 40%;
    margin-right: 1%;
}

.workoutDetails > :nth-child(1) > div > select {
    color: darkblue;
    font-size: large;
    width: 40%;
}

/* Workout Details Groups */
.workoutDetailsGroups > div {
    display: flex;
    width: 60%;
}

.workoutGroupForm > div {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.workoutGroupForm > div > :nth-child(1) {
    display: flex;
    flex-direction: column

}

.workoutGroupForm > div > :nth-child(1) > div > label {
    font-size: xx-large;
    color: darkblue;
}

.workoutGroupForm > div > :nth-child(1) > div > input {
    font-size: x-large;
    color: darkred;
    background-color: lightgrey;
}
.workoutDetailsGroups > div > :nth-child(2) {
    display: flex;
    flex: 1 100;
    flex-direction: column;
}

.workoutDetailsGroups > div > :nth-child(2) > * {
    flex: 1 100;
    background-color: darkblue;
    color: white;
}
.workoutDetailsGroups > div > :nth-child(1) {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    flex: 3 300;
    
}


.workoutDetailsGroups > div > :nth-child(1) > div {
    display: flex;
    background-color: lightblue;
    
}

.workoutDetailsGroups > div > :nth-child(1) > div > div {
    display: flex;
    margin-right: 1%;
    font-size: xx-large;
    color: darkred;
}
.workoutDetailsGroups > div > :nth-child(1) > div > label {
    display: flex;
    margin-right: 1%;
    font-size: xx-large;
    color: darkblue;
}
/* Confirmation Modal */

.static-modal {
    position: fixed;
    z-index: 5;
}