.workoutDayLocations {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.workoutDayLocationHeader {
    width: 100%;
    flex: 1 300;
    display: flex;
    flex-direction: column;
}

.workoutDayLocationHeader > * {
    background-color: darkblue;
    border: 1px solid black;
    padding: 1%;
    flex: 1 100;
    color: white;
    font-size: xx-large;
}

.workoutDayLocationBody {
    flex: 4 300;
    display: flex;
}

.workoutDayLocationBody > :nth-child(2) {
    flex: 6 900;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.workoutDayLocationBody > :nth-child(2) > :nth-child(1) {
    display: flex;
    flex: 1 50;
    background-color: mediumblue;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large;

}

.workoutDayLocationBody > :nth-child(2) > :nth-child(2) {
    display: flex;
    flex: 9 900;
    background-color: darkgray;
}

.workoutDayLocationBody > :nth-child(3) {
    flex: 1 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightcoral;

}

.workoutDayLocationBody > :nth-child(3) > * {
    background-color: lightgray;
    height: 10%;
    color: blue;
    border: 5px dashed red;
}

.workoutsNavigation {
    display: flex;
    border: 1px solid black;
    flex: 1 100;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: lightcoral;
}

.workoutsNavigation > ul {
    display: flex;
    width: 100%;
    height: 65vh;
    flex-direction: column;
    justify-items: flex-end;
    padding: 0;

    
}

.workoutsNavigation > ul > *  {
    width: 100%;
    flex: 1 800;
    background-color: lightgray;
    border: 1px solid darkblue;
    display: flex;
    color: blue;
    font-size: xx-large;
    font-style: oblique;
    justify-content: flex-end;
    padding-right: 5%;
}

/*  Workout Summary  */
.workoutsMain {
    display: flex;
    flex: 1 100;
    background-color: darkgray;
}

.workoutsMain > div {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;    

}

.workoutSummary {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 80%;
    height: 80%;
}

.workoutSummary > :nth-child(1) {
    display: flex;
    background-color: darkblue;
    color: white;
    justify-content: center;
    flex: 1 100;
    font-size: xx-large;

}

.workoutSummary > :nth-child(2) {
    display: flex;
    flex: 5 500;
    justify-content: center;
    background-color: white;

    
}

.workoutSummary > :nth-child(3) {
    display: flex;
    background-color: darkgreen;
    color: white;
    justify-content: center;
    align-items: center;
    flex: 1 100;
    font-size: xx-large;

}

.workoutSummary > :nth-child(4) {
    display: flex;
    flex: 1;
    justify-content: space-around;
    background-color: lightgreen;
}
.workoutSummary > :nth-child(4) > * {
    background-color: purple;
    color: white;
    font-size: xx-large;
    width: 100%;
}

.noWorkouts {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}